NRTK_HOST_NAME="exmaple.com"
NRTK_API_UUID=""
NRTK_API_TOKEN=""
NRTK_HTTP_SERVER_ENABLED=1
NRTK_HTTP_SERVER_PORT=8080
NRTK_HTTP_SERVER_SYNC_HANDLER="/.sync-example-site-handler"
NRTK_STORY_EXTENSION=".html"
NRTK_APP_NAME="example"
